.title-hover-animation {
  display: inline-block;
  position: relative;
  border-bottom: none;
  line-height: 1.3;
  vertical-align: top;
  color: var(--second-text-color);
}
.title-hover-animation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--second-text-color);
  visibility: hidden;
  transform: scaleX(0);
  transition-property: color, background, box-shadow, border-color, visibility, transform;
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease, ease-in-out, ease-in-out;
}
@-moz-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes icon-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.88);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.08);
  }
  50%, 70% {
    transform: scale(1.08);
  }
}
@-webkit-keyframes icon-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.88);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.08);
  }
  50%, 70% {
    transform: scale(1.08);
  }
}
@-o-keyframes icon-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.88);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.08);
  }
  50%, 70% {
    transform: scale(1.08);
  }
}
@keyframes icon-animate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.88);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.08);
  }
  50%, 70% {
    transform: scale(1.08);
  }
}
