:root {
  --background-color: #fff;
  --background-color-transparent: rgba(255,255,255,0.6);
  --background-color-transparent-15: rgba(255,255,255,0.15);
  --background-color-transparent-40: rgba(255,255,255,0.4);
  --background-color-transparent-80: rgba(255,255,255,0.8);
  --second-background-color: #fafafa;
  --third-background-color: #f7f7f7;
  --third-background-color-transparent: rgba(241,241,241,0.6);
  --primary-color: #a31f34;
  --first-text-color: #323739;
  --second-text-color: #343a3c;
  --third-text-color: #5c6669;
  --fourth-text-color: #eaeced;
  --default-text-color: #373d3f;
  --invert-text-color: #bebec6;
  --border-color: rgba(0,0,0,0.08);
  --selection-color: #be243c;
  --shadow-color-1: rgba(0,0,0,0.08);
  --shadow-color-2: rgba(0,0,0,0.05);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #c1c1c1;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #fafafa;
  --link-color: #323739;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --archive-timeline-last-child-color: linear-gradient(to bottom, #e8e8e8 60%, rgba(0,0,0,0) 100%) 1 100%;
  --note-blue-title-bg: #d6f7fb;
  --note-red-title-bg: #fde9e9;
  --note-cyan-title-bg: #e9fdf9;
  --note-green-title-bg: #e9fde9;
  --note-yellow-title-bg: #fdf9e9;
  --note-gray-title-bg: #f9f9f9;
  --note-type-title-bg: #fdf3e9;
  --note-black-title-bg: #e9e9e9;
  --note-purple-title-bg: #f9e9fd;
  --home-banner-text-color: #fff;
  --home-banner-icons-container-border-color: rgba(255,255,255,0.35);
  --home-banner-icons-container-background-color: rgba(255,255,255,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: $mermaid-theme;
}
.light-mode {
  --background-color: #fff;
  --background-color-transparent: rgba(255,255,255,0.6);
  --background-color-transparent-15: rgba(255,255,255,0.15);
  --background-color-transparent-40: rgba(255,255,255,0.4);
  --background-color-transparent-80: rgba(255,255,255,0.8);
  --second-background-color: #fafafa;
  --third-background-color: #f7f7f7;
  --third-background-color-transparent: rgba(241,241,241,0.6);
  --primary-color: #a31f34;
  --first-text-color: #323739;
  --second-text-color: #343a3c;
  --third-text-color: #5c6669;
  --fourth-text-color: #eaeced;
  --default-text-color: #373d3f;
  --invert-text-color: #bebec6;
  --border-color: rgba(0,0,0,0.08);
  --selection-color: #be243c;
  --shadow-color-1: rgba(0,0,0,0.08);
  --shadow-color-2: rgba(0,0,0,0.05);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #c1c1c1;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #fafafa;
  --link-color: #323739;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --archive-timeline-last-child-color: linear-gradient(to bottom, #e8e8e8 60%, rgba(0,0,0,0) 100%) 1 100%;
  --note-blue-title-bg: #d6f7fb;
  --note-red-title-bg: #fde9e9;
  --note-cyan-title-bg: #e9fdf9;
  --note-green-title-bg: #e9fde9;
  --note-yellow-title-bg: #fdf9e9;
  --note-gray-title-bg: #f9f9f9;
  --note-type-title-bg: #fdf3e9;
  --note-black-title-bg: #e9e9e9;
  --note-purple-title-bg: #f9e9fd;
  --home-banner-text-color: #fff;
  --home-banner-icons-container-border-color: rgba(255,255,255,0.35);
  --home-banner-icons-container-background-color: rgba(255,255,255,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: $mermaid-theme;
}
.dark-mode {
  --background-color: #202124;
  --background-color-transparent: rgba(32,33,36,0.4);
  --background-color-transparent-15: rgba(32,33,36,0.15);
  --background-color-transparent-40: rgba(32,33,36,0.4);
  --background-color-transparent-80: rgba(32,33,36,0.8);
  --second-background-color: #242529;
  --third-background-color: #292b2f;
  --third-background-color-transparent: rgba(32,33,36,0.6);
  --primary-color: #a31f34;
  --first-text-color: #d2d2d7;
  --second-text-color: #cbcbd1;
  --third-text-color: #9595a2;
  --fourth-text-color: #36363e;
  --default-text-color: #bebec6;
  --invert-text-color: #373d3f;
  --border-color: rgba(255,255,255,0.08);
  --selection-color: #be243c;
  --shadow-color-1: rgba(255,255,255,0.08);
  --shadow-color-2: rgba(255,255,255,0.05);
  --shadow-hover-color: rgba(69,69,69,0.28);
  --scrollbar-color: #898989;
  --scrollbar-color-hover: #a1a1a1;
  --scroll-bar-bg-color: #2a2c30;
  --link-color: #c5c5cc;
  --copyright-info-color: #a30029;
  --avatar-background-color: #005cb8;
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  --archive-timeline-last-child-color: linear-gradient(to bottom, #323232 60%, rgba(255,255,255,0) 100%) 1 100%;
  --note-blue-title-bg: #1e3e46;
  --note-red-title-bg: #4e1e1e;
  --note-cyan-title-bg: #1e4e4e;
  --note-green-title-bg: #1e4e1e;
  --note-yellow-title-bg: #4e4e1e;
  --note-gray-title-bg: #4e4e4e;
  --note-type-title-bg: #4e3a1e;
  --note-black-title-bg: #1e1e1e;
  --note-purple-title-bg: #4e1e4e;
  --home-banner-text-color: #d1d1b6;
  --home-banner-icons-container-border-color: rgba(197,197,197,0.35);
  --home-banner-icons-container-background-color: rgba(197,197,197,0.3);
  --redefine-box-shadow: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-hover: var(--shadow-color-2) 0px 6px 24px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --redefine-box-shadow-flat: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
  --redefine-box-shadow-flat-hover: var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px, var(--shadow-color-1) 0px 0px 0px 1px inset;
  --mermaid-theme: $dark-mermaid-theme;
}
.page-title-header {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: bold;
  color: var(--second-text-color);
  margin: 6px 0 36px 0;
}
.page-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: var(--background-color);
}
@media (max-width: 768px) {
  .page-container {
    padding-right: 0 !important;
  }
}
.page-container .main-content-container {
  padding-top: 70px;
  position: relative;
  transition: padding 0.2s ease;
}
.navbar-shrink .page-container .main-content-container {
  padding-top: 50.4px;
  transition: padding 0.2s ease;
}
@media (max-width: 768px) {
  .navbar-shrink .page-container .main-content-container {
    padding-top: 45.36px;
  }
}
@media (max-width: 640px) {
  .navbar-shrink .page-container .main-content-container {
    padding-top: 40.32px;
  }
}
@media (max-width: 768px) {
  .page-container .main-content-container {
    padding-top: 63px;
  }
}
@media (max-width: 640px) {
  .page-container .main-content-container {
    padding-top: 56px;
  }
}
.page-container .main-content-container .main-content-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 1005;
  box-sizing: border-box;
}
.page-container .main-content-container .main-content-header.hide {
  transform: translateY(-105%);
}
.navbar-shrink .page-container .main-content-container .main-content-header {
  height: 50.4px;
}
@media (max-width: 768px) {
  .navbar-shrink .page-container .main-content-container .main-content-header {
    height: 45.36px;
  }
}
@media (max-width: 640px) {
  .navbar-shrink .page-container .main-content-container .main-content-header {
    height: 40.32px;
  }
}
@media (max-width: 768px) {
  .page-container .main-content-container .main-content-header {
    height: 63px;
    padding-left: 0 !important;
  }
}
@media (max-width: 640px) {
  .page-container .main-content-container .main-content-header {
    height: 56px;
  }
}
.page-container .main-content-container .main-content-body {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 38px 0;
}
@media (max-width: 768px) {
  .page-container .main-content-container .main-content-body {
    padding: 30.400000000000002px 0;
  }
}
@media (max-width: 640px) {
  .page-container .main-content-container .main-content-body {
    border: none !important;
    padding-top: 0;
  }
}
.page-container .main-content-container .main-content-body .main-content {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  max-width: 1000px;
  height: 100%;
}
@media (max-width: 768px) {
  .page-container .main-content-container .main-content-body .main-content {
    width: 86%;
  }
}
@media (max-width: 640px) {
  .page-container .main-content-container .main-content-body .main-content {
    width: 90%;
  }
}
.page-container .main-content-container .main-content-body .main-content.has-toc {
  max-width: 1200px !important;
}
.page-container .main-content-container .main-content-body .main-content-footer {
  width: 100%;
}
.page-container .post-tools {
  position: fixed;
  top: 108px;
  right: 38px;
}
.navbar-shrink .page-container .post-tools {
  top: 88.4px;
}
@media (max-width: 768px) {
  .navbar-shrink .page-container .post-tools {
    top: 83.36px;
  }
}
@media (max-width: 640px) {
  .navbar-shrink .page-container .post-tools {
    top: 78.32px;
  }
}
@media (max-width: 768px) {
  .page-container .post-tools {
    top: 101px;
    right: 10px;
    transform: scale(0.82);
    transform-origin: right top;
  }
}
@media (max-width: 640px) {
  .page-container .post-tools {
    display: none;
    top: 94px;
    right: 5px;
    transform: scale(0.72);
  }
}
.page-container .right-side-tools-container {
  position: fixed;
  bottom: 5%;
  right: 38px;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.page-container .right-side-tools-container.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
@media (max-width: 640px) {
  .page-container .right-side-tools-container {
    right: 12px;
  }
}
