.error-info {
  text-align: center;
}

.error-info a {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 16px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.error-info a:hover {
  background-color: #2980b9;
}
